body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u10447 {
  position:absolute;
  left:100px;
  top:50px;
  width:430px;
  height:880px;
}
#u10448 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u10449 {
  position:absolute;
  left:125px;
  top:154px;
  width:380px;
  height:676px;
}
#u10450 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u10451 {
  position:absolute;
  left:127px;
  top:155px;
  width:375px;
  height:20px;
}
#u10452 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:17px;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u10453 {
  position:absolute;
  left:160px;
  top:184px;
  width:310px;
  height:17px;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u10454 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u10455p000 {
  position:absolute;
  left:125px;
  top:208px;
  width:381px;
  height:3px;
}
#u10455p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:3px;
}
#u10455 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10456 {
  position:absolute;
  left:129px;
  top:201px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
  color:#1E1E1E;
}
#u10457 {
  position:absolute;
  left:128px;
  top:179px;
  width:15px;
  height:28px;
  color:#1E1E1E;
}
#u10458 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u10459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
}
#u10459 {
  position:absolute;
  left:134px;
  top:780px;
  width:362px;
  height:40px;
}
#u10460 {
  position:absolute;
  left:2px;
  top:12px;
  width:358px;
  word-wrap:break-word;
}
#u10461 {
  position:absolute;
  left:155px;
  top:219px;
  width:302px;
  height:25px;
}
#u10461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u10461_input {
  font-family:'应用字体';
}
#u10462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
}
#u10462 {
  position:absolute;
  left:151px;
  top:250px;
  width:317px;
  height:29px;
}
#u10463 {
  position:absolute;
  left:2px;
  top:7px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u10464 {
  position:absolute;
  left:169px;
  top:254px;
  width:20px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10465 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u10466 {
  position:absolute;
  left:393px;
  top:256px;
  width:58px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u10467 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u10468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10468 {
  position:absolute;
  left:422px;
  top:217px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10469 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
  color:#0000FF;
}
#u10470 {
  position:absolute;
  left:196px;
  top:257px;
  width:200px;
  height:16px;
  color:#0000FF;
}
#u10471 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u10472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u10472 {
  position:absolute;
  left:560px;
  top:50px;
  width:370px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u10473 {
  position:absolute;
  left:2px;
  top:10px;
  width:366px;
  word-wrap:break-word;
}
#u10474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
  line-height:28px;
}
#u10474 {
  position:absolute;
  left:560px;
  top:90px;
  width:370px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
  line-height:28px;
}
#u10475 {
  position:absolute;
  left:2px;
  top:2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  font-size:14px;
  text-align:left;
  line-height:26px;
}
#u10476 {
  position:absolute;
  left:570px;
  top:100px;
  width:350px;
  height:80px;
  font-size:14px;
  text-align:left;
  line-height:26px;
}
#u10477 {
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u10478 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10479 {
  position:absolute;
  left:210px;
  top:195px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10480 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u10481 {
  position:absolute;
  left:216px;
  top:198px;
  width:20px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u10482 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
