body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4156 {
  position:absolute;
  left:590px;
  top:50px;
  width:370px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4157 {
  position:absolute;
  left:2px;
  top:10px;
  width:366px;
  word-wrap:break-word;
}
#u4158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
  line-height:28px;
}
#u4158 {
  position:absolute;
  left:590px;
  top:90px;
  width:370px;
  height:125px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
  line-height:28px;
}
#u4159 {
  position:absolute;
  left:2px;
  top:2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:26px;
}
#u4160 {
  position:absolute;
  left:600px;
  top:100px;
  width:350px;
  height:100px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:26px;
}
#u4161 {
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u4163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u4163 {
  position:absolute;
  left:100px;
  top:50px;
  width:430px;
  height:880px;
}
#u4164 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:621px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u4166 {
  position:absolute;
  left:125px;
  top:209px;
  width:380px;
  height:621px;
}
#u4167 {
  position:absolute;
  left:2px;
  top:303px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 0.207843137254902);
}
#u4168 {
  position:absolute;
  left:125px;
  top:153px;
  width:380px;
  height:57px;
}
#u4169 {
  position:absolute;
  left:2px;
  top:21px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4172 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4173 {
  position:absolute;
  left:481px;
  top:164px;
  width:4px;
  height:5px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4174 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:8px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4175 {
  position:absolute;
  left:453px;
  top:162px;
  width:16px;
  height:8px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4176 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4177 {
  position:absolute;
  left:451px;
  top:159px;
  width:29px;
  height:13px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4178 {
  position:absolute;
  left:2px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u4179 {
  position:absolute;
  left:202px;
  top:157px;
  width:236px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u4180 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u4181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u4181 {
  position:absolute;
  left:192px;
  top:155px;
  width:20px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4182 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u4183 {
  position:absolute;
  left:130px;
  top:157px;
  width:68px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u4184 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u4185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u4185 {
  position:absolute;
  left:288px;
  top:186px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#1E1E1E;
}
#u4186 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u4187 {
  position:absolute;
  left:191px;
  top:226px;
  width:289px;
  height:25px;
}
#u4187_input {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u4187_input {
  font-family:'应用字体';
}
#u4188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4188 {
  position:absolute;
  left:196px;
  top:228px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4189 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:34px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  color:#FFFFFF;
}
#u4190 {
  position:absolute;
  left:127px;
  top:795px;
  width:377px;
  height:34px;
  color:#FFFFFF;
}
#u4191 {
  position:absolute;
  left:2px;
  top:9px;
  width:373px;
  word-wrap:break-word;
}
#u4192 {
  position:absolute;
  left:137px;
  top:226px;
  width:54px;
  height:25px;
}
#u4192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4192_input {
  font-family:'应用字体';
}
#u4192_input:disabled {
  color:grayText;
}
#u4193 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4194 {
  position:absolute;
  left:180px;
  top:196px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4195 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4196 {
  position:absolute;
  left:186px;
  top:199px;
  width:20px;
  height:16px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4197 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u4199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u4199 {
  position:absolute;
  left:137px;
  top:185px;
  width:20px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u4200 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u4201 {
  position:absolute;
  left:137px;
  top:185px;
  width:50px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
