body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u10365 {
  position:absolute;
  left:100px;
  top:50px;
  width:430px;
  height:880px;
}
#u10366 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:676px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u10367 {
  position:absolute;
  left:125px;
  top:154px;
  width:380px;
  height:676px;
}
#u10368 {
  position:absolute;
  left:2px;
  top:330px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u10369 {
  position:absolute;
  left:127px;
  top:155px;
  width:375px;
  height:20px;
}
#u10370 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:17px;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u10371 {
  position:absolute;
  left:160px;
  top:184px;
  width:310px;
  height:17px;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u10372 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u10373p000 {
  position:absolute;
  left:125px;
  top:208px;
  width:381px;
  height:3px;
}
#u10373p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:3px;
}
#u10373 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10374 {
  position:absolute;
  left:129px;
  top:201px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
  color:#1E1E1E;
}
#u10375 {
  position:absolute;
  left:128px;
  top:179px;
  width:15px;
  height:28px;
  color:#1E1E1E;
}
#u10376 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u10377 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u10378 {
  position:absolute;
  left:137px;
  top:217px;
  width:82px;
  height:16px;
}
#u10379 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10380 {
  position:absolute;
  left:219px;
  top:213px;
  width:141px;
  height:25px;
}
#u10380_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10380_input {
  font-family:'应用字体';
}
#u10381 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10382 {
  position:absolute;
  left:381px;
  top:218px;
  width:50px;
  height:16px;
}
#u10383 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u10382_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10384 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u10385 {
  position:absolute;
  left:136px;
  top:248px;
  width:82px;
  height:16px;
}
#u10386 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10387 {
  position:absolute;
  left:218px;
  top:244px;
  width:141px;
  height:25px;
}
#u10387_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10387_input {
  font-family:'应用字体';
}
#u10388 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u10389 {
  position:absolute;
  left:135px;
  top:312px;
  width:82px;
  height:16px;
}
#u10390 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10391 {
  position:absolute;
  left:217px;
  top:307px;
  width:267px;
  height:25px;
}
#u10391_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10391_input {
  font-family:'应用字体';
}
#u10392 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
}
#u10393 {
  position:absolute;
  left:136px;
  top:281px;
  width:82px;
  height:16px;
}
#u10394 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10395 {
  position:absolute;
  left:218px;
  top:277px;
  width:141px;
  height:25px;
}
#u10395_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10395_input {
  font-family:'应用字体';
}
#u10396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
}
#u10396 {
  position:absolute;
  left:134px;
  top:780px;
  width:362px;
  height:40px;
}
#u10397 {
  position:absolute;
  left:2px;
  top:12px;
  width:358px;
  word-wrap:break-word;
}
#u10398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  color:#000000;
}
#u10398 {
  position:absolute;
  left:461px;
  top:284px;
  width:23px;
  height:16px;
  color:#000000;
}
#u10399 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u10400 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10401 {
  position:absolute;
  left:440px;
  top:218px;
  width:50px;
  height:16px;
}
#u10402 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u10401_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10403 {
  position:absolute;
  left:218px;
  top:277px;
  width:266px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
