body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u11229 {
  position:absolute;
  left:105px;
  top:50px;
  width:430px;
  height:880px;
}
#u11230 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  color:#AEAEAE;
}
#u11231 {
  position:absolute;
  left:131px;
  top:155px;
  width:377px;
  height:669px;
  color:#AEAEAE;
}
#u11232 {
  position:absolute;
  left:2px;
  top:327px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 0.207843137254902);
}
#u11233 {
  position:absolute;
  left:131px;
  top:155px;
  width:377px;
  height:57px;
}
#u11234 {
  position:absolute;
  left:2px;
  top:21px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11238 {
  position:absolute;
  left:481px;
  top:170px;
  width:4px;
  height:5px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11239 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:8px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11240 {
  position:absolute;
  left:453px;
  top:168px;
  width:16px;
  height:8px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11241 {
  position:absolute;
  left:2px;
  top:-4px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11242 {
  position:absolute;
  left:451px;
  top:165px;
  width:29px;
  height:13px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11243 {
  position:absolute;
  left:2px;
  top:-2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u11244 {
  position:absolute;
  left:202px;
  top:163px;
  width:236px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u11245 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u11246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u11246 {
  position:absolute;
  left:218px;
  top:163px;
  width:20px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11247 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u11248 {
  position:absolute;
  left:151px;
  top:163px;
  width:68px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u11249 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u11250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  font-size:14px;
}
#u11250 {
  position:absolute;
  left:282px;
  top:187px;
  width:82px;
  height:16px;
  font-size:14px;
}
#u11251 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
  color:#1E1E1E;
}
#u11252 {
  position:absolute;
  left:140px;
  top:183px;
  width:15px;
  height:28px;
  color:#1E1E1E;
}
#u11253 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u11254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:613px;
}
#u11254 {
  position:absolute;
  left:131px;
  top:212px;
  width:377px;
  height:612px;
}
#u11255 {
  position:absolute;
  left:2px;
  top:298px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:78px;
  color:#000000;
}
#u11256 {
  position:absolute;
  left:160px;
  top:320px;
  width:300px;
  height:78px;
  color:#000000;
}
#u11257 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u11258 {
  position:absolute;
  left:194px;
  top:502px;
  width:234px;
  height:34px;
}
#u11258_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u11258_input {
  font-family:'应用字体';
}
#u11259 {
  position:absolute;
  left:194px;
  top:553px;
  width:234px;
  height:34px;
}
#u11259_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u11259_input {
  font-family:'应用字体';
}
#u11260 {
  position:absolute;
  left:194px;
  top:692px;
  width:234px;
  height:34px;
}
#u11260_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u11260_input {
  font-family:'应用字体';
}
#u11261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:54px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.686274509803922);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:5px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u11261 {
  position:absolute;
  left:194px;
  top:737px;
  width:234px;
  height:54px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u11262 {
  position:absolute;
  left:2px;
  top:17px;
  width:230px;
  word-wrap:break-word;
}
#u11263 {
  position:absolute;
  left:194px;
  top:600px;
  width:234px;
  height:34px;
}
#u11263_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u11263_input {
  font-family:'应用字体';
}
#u11264 {
  position:absolute;
  left:194px;
  top:647px;
  width:234px;
  height:34px;
}
#u11264_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u11264_input {
  font-family:'应用字体';
}
#u11265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u11265 {
  position:absolute;
  left:580px;
  top:50px;
  width:370px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u11266 {
  position:absolute;
  left:2px;
  top:10px;
  width:366px;
  word-wrap:break-word;
}
#u11267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
  line-height:28px;
}
#u11267 {
  position:absolute;
  left:580px;
  top:90px;
  width:370px;
  height:130px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
  line-height:28px;
}
#u11268 {
  position:absolute;
  left:2px;
  top:2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:26px;
}
#u11269 {
  position:absolute;
  left:590px;
  top:100px;
  width:350px;
  height:103px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:26px;
}
#u11270 {
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u11271 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11272 {
  position:absolute;
  left:369px;
  top:740px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u11273 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11274 {
  position:absolute;
  left:375px;
  top:743px;
  width:20px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u11275 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
